/* reset stylesheet rule */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* nav-bar styling*/
.header{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 12px 40px;
    background-color: rgba(136, 136, 136, 0.5);
    text-align: center;
}

.header__logo{
    float: left;
}

.header__logo__img{
    display: block;
}

.header__nav{
    display: inline-block;
    list-style: none;
    font-size: 0;
    padding: 12px 0px;
}

.header__nav__item{
    display: inline-block;
    margin: 0px 10px;
}

.header__nav__item a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    color:#ffffff;
}

.header__nav__item a:hover{
    background-color: #2086fb;
    border-radius: 10px;
    transition: 0.1s ease;
}

.header__nav__item a:focus{
    color:#000; 
}

.header--btn-right{  
    float: right;
    padding: 11px 30px;
}

.btn{
    background-color: #2086fb; 
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    border-radius: 25px;
    text-decoration: none;
}

.btn:hover{
    background-color: #fff;
    color: black;
}

.header:after{
    content: "";
    display: block;
    clear: both;
}

/* bg container styling */
.hero{
    width:100%; 
    height: 100vh;
    background: url('img/bg_computer.png') no-repeat scroll top;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.hero::after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero__title{
    position: relative;
    top: 35%; 
    z-index: 1;
    font-weight: 600;
    font-size: 30px;
    color: white;
    text-align: center;
}

.hero__container{
    position: relative;
    top: 40%;
    z-index: 1;
    width: 65%;
    margin: auto;
    background-color:white;
    height: 64px;
    border: 5px solid rgba(136, 136, 136, 0.5);
    border-radius: 4px;
}

.hero__container__search{
    color: #9b9b9b;
    width: 85%;
    border: none;
    font-size: 16px;
    padding: 16px;
    outline: none;
}
    
.hero__container > button{
    border: none;
    background-color: #fff;
}

.fa{
    cursor: pointer;
    font-size: 20px;
    color: #4a4a4a50;
}

.hero__container > button:hover i{
    font-size: 22px;
}

.hero__container:focus-within{
    border: 5px solid #2086fb90;
    box-shadow: 0 0 50px rgb(0, 0, 0);
    transition: all 0.1 ease;
}

/* box-container styling */
.box__wrapper{
    text-align: center;
    margin: 41px 40px 32px;
}

.box{
    float: left;
    width:25%;
    background-color:#fff;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding: 60px 0 60px;
}

.box:nth-child(4), .box:nth-child(8){
    border-right: none;
}
.box:nth-child(n+5){
    border-bottom: none;
}

.box .box__img{
    display: inline-block;
}

.box .box__title{
    font-weight: 600;
    font-size:18px;
    color: #4a4a4a;
    margin-top: 24px;
}

.box .box__content{
    margin: 10px 32px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #858585;
}

.clearfix{
    content: "";
    clear: both;
    display: block;
}

/* footer styling */
.foot{
    text-align: center;
    overflow: hidden;
    background-color: #323232;
    color: white;
}

.foot__title{
    margin-top: 62px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}

.foot__title__sub{
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 55px;
}

.foot--btn-center{
    padding: 10px 46px 12px 46px;
    display: inline-block;
    margin-bottom: 81px;
}

.foot__sub{
    width: 100%;
    padding: 25px 0;
    text-align: left;
    background-color:#252525;
}

.foot__sub .foot__sub__content{
    color:#ffffff;
    font-style: normal;
    font-size: 14px;
    font-weight: 300;
    margin-left: 40px;
}

.to__top{
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-size: 20px;
    padding: 0 6px;
    text-align: center;
    background-color:#4a4a4a;
    color: #979797;
    border: none;
    cursor: pointer;
}

label #bar,
label #cancel{
    color: #fff;
    font-size: 40px;
    float:right;
    line-height: 45px;
    cursor: pointer;
    display: none;
    z-index: 1;
}

#check{
    display: none;
}

@media only screen and (max-width: 1000px) {
    .box {
      width: 100%;
      border-right: none;
    }

    .box:nth-child(n+5):not(:nth-child(8)){
      border-bottom: 1px solid #dcdcdc;
    }

    .to__top{
        display: none;
    }

    .header--btn-right{
        display: none;
    }

    label #bar{
        display: block;
    }

    ul{
        position: fixed;
        width: 30%;
        height: 81vh;
        z-index: 10;
        background: rgba(136, 136, 136);
        top: 68px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }

    ul li{
        display: block;
        width: 100%;
        padding: 18px 0;
        border-bottom: 2px solid black;
    }
    
    .header li a{
        font-size: 18px;
    }
    
    #check:checked ~ ul{
        right: 0;
    } 
    #check:checked ~ label #bar{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
  }