/*  resetting user-agent-stylesheet  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* web page layout */
body{
    background-color: #f3f2ef;
}

.wrapper{
    max-width: 1440px;
    margin: auto;
    position: relative;
}

/* nav-bar styling*/
header{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 68px;
    padding: 12px 40px;
    background-color: rgba(136, 136, 136, 0.5);
}

.logo{
    float:left;
    vertical-align: middle;
    width:75px; 
    height:44px;
}

nav{
    text-align: center;
}

ul{
    clear: both;
    display: inline-block;
    list-style: none;
    padding: 12px 0;
}

li{
    display: inline-block;
    padding: 0 10px 0 10px;
}

li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color:#ffffff;
}

a.active{
    color:black; 
    font-weight: 600;
}

.blue__btn__left{
    float: right;
    padding: 11px 30px;
}

.blue-btn{  
    background-color: #2086fb; 
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    border-radius: 22px;
    text-decoration: none;
}

/* top container styling */
div.bg-img{
    width:100%; 
    height:568px;
    background: url('img/bg_computer.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
    background-size: cover;
    position: relative;

}

.bg-overlay{
    background-color: rgba(0, 0, 0, 0.6);
    width:100%; 
    height:inherit;
}

h2.head{
    position: absolute;
    font-weight: 600;
    font-size: 30px;
    color: white;
    width: 100%;
    text-align: center;
    top: 215px;
}

.search__box{
    position: absolute;
    left: 257px;
    top: 286px;  
    z-index: 2;
    width: 926px;
    background-color:white;
    height: 64px;
    border: 5px solid rgba(136, 136, 136, 0.5);
    border-radius: 4px;
}

input[type="search"]{
    color: #9b9b9b;
    width: 850px;
    border: none;
    padding: 19px;
}
    
.search__box i{
    color:#4a4a4a50;
    padding-left: 15px;
}

/* middle container styling */
.box__wrapper{
    margin-top: 41px;
    width: 100%;
    text-align: center;
}
.box__wrapper .box{
    float: left;
    width: 328px;
    height: 328px;
    background-color:#fff;
    margin: 0px 16px;
    outline: 1px solid #dcdcdc;
    outline-offset: 16px;
    padding-top: 52px;
}

.box h2{
    font-weight: 600;
    font-size:18px;
    color: #4a4a4a;
}

.box p{
    margin: 0px 32px;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #858585;
}

.clearfix{
    content: "";
    clear: both;
    display: block;
}

/* bottom container styling */
.foot{
    position: relative;
    width: inherit;
    height: 356px;
    background-color: #323232;
    margin-top: 17px;
}

.foot h2, h3{
    width: inherit;
    text-align: center;
    color: white;
}

.foot h2{
    padding-top: 62px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}

.foot h3{
    font-weight: 500;
    font-size: 16px;
    padding-top: 4px;
}

.blue__btn__center{
    padding: 10px 46px 12px 46px;

}

.sub__foot{
    width: 100%;
    height: 68px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color:#252525;
}

.sub__foot p{
    color:#ffffff;
    font-style: normal;
    font-size: 14px;
    font-weight: 300;
    margin-left: 40px;
    padding-top: 25px;
}

.top-of-site{
    float: right;
    margin-right: 44px;
    text-align: center;
    width: 28px;
    height: 28px;
    font-size: 20px;
    background-color:#4a4a4a;
    color: #979797;
}
